/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base { a { @apply no-underline; }  }

/* ----------- ADDITIONAL COMPONENTS  --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html { scroll-behavior: smooth; }


/* For regular laptops and smaller screens */
body {
    max-width: 100%; /* Allow it to expand to the full width of the screen */
    background-color: #FFFDFF; 
    color:  #033357; 
    font-family: "Source Sans 3", sans-serif;
}

/* For larger screens like flatscreen TVs */
@media screen and (min-width: 1600px) {
    .max-width {
        max-width: 1600px; /* Set a specific max-width for larger screens */
        margin: 0 auto; /* Center the content horizontally */
    }
}

header {
  width: 100%!important;
  top: 0;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background:  #FFFDFF; 
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
    background:  #FFFDFF; 
}

.header-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.title-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.bg-dark-blue {
  background-color: #033357; 
  color: #FFFDFF; 
}

.text-dark-blue {
  color: #033357;
}

.text-dark-blue:hover {
  color: #033357;
  text-decoration: underline;
}

.button {
  border-width: 2.5px;
  border-color: #033357;
  border-radius: 0.25rem;
  background-color: #033357;
  color: #FFFDFF; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.button-block:hover {
  border-color: #033357;
  background-color: inherit;
  color:#033357;
}

.grow { 
  transition: transform .2s ease-in-out; 
  display: inline-block;
}

.grow:hover { 
  transform: scale(1.1); 
}


/* Aspect Ratio  */
.gallery-portrait-tall { padding-bottom: 175%; }
.gallery-portrait { padding-bottom: 125%; }
.gallery-square { padding-bottom: 100%; }
.gallery-landscape { padding-bottom: 66%; }
.gallery-landscape-wide { padding-bottom: 56%; }

/* Background Position */
.g-bg-pos-t { background-position: top; }
.g-bg-pos-b { background-position: bottom; }
.g-bg-pos-l { background-position: left; }
.g-bg-pos-r { background-position: right; }


.hamburger-wrapper {
  cursor: pointer;
  display: inline-block;
  right: 19%;
  top: 3.2%;
  z-index: 1000;
  position: fixed;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
}

.hamburger-menu span {
  background-color: #033357;
  height: 4px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu {
  display: fixed;
  background-color: #033357; /* Dark blue background */
  color: #FFFDFF; /* Light text color */
  padding: 1rem;
  position: fixed;
  top: 0;
  right: -500px; /* Initially hidden off-screen */
  width: 300px; /* Width of the menu */
  height: 100vh;
  text-align: left;
  overflow-y: auto;
  z-index: 50;
  transition: right 0.3s ease; /* Slide effect */
  border-left: 4px solid #D2AE39; /* Yellow left border */
}

.mobile-menu.active {
  right: 45px; 
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu a {
  text-decoration: none; 
  color: #FFFDFF; /* Light text color */
  /* padding: 1rem; */
  display: block;
  font-weight: normal;
  font-size: 1.5rem;
}

.submenu {
  margin-top: 0.5rem;
  /* padding-left: 1.5rem;  Indent submenus */
  border-left: 2px solid #D2AE39; 
  margin-left: 5%;
}

.submenu a {
  font-size: 1.1rem; /* Slightly smaller for subpages */
}

.logo {
  width: 70%; /* Logo size in mobile menu */
  margin-bottom: 2rem;
}

.close-button {
  background: none;
  border: none;
  color: #FFFDFF; /* Light text color */
  font-size: 2rem; /* Size of the close icon */
  position: absolute; /* Position it in the top-right corner */
  top: 1rem; /* Adjust as needed */
  right: 1rem; /* Adjust as needed */
  cursor: pointer;
}


footer {
  background-color: #033357; /* Dark blue */
  color: #FFFDFF; /* Light text color */
}

.footer-logo img {
  width: 100%; /* Responsive logo */
  max-width: 200px; /* Set a max width */
}

.footer-link {
  display: block; /* Ensure each link is a block element */
  color: #FFFDFF; /* Light text color */
  text-decoration: none;
  padding: 0.5rem 0; /* Adjusted padding for cleaner look */
  transition: color 0.3s;
}

.footer-link:hover {
  color: #D2AE39; /* Gold hover effect */
}

.submenu {
  padding-left: 1.25rem; /* Adjusted indent for better visibility */
  margin-top: 0.25rem; /* Space above submenu items */
}

.text-gray-300 {
  color: #B0BEC5; /* Light gray for footer text */
  margin-top: 1rem;
}

.header-box {
  margin-right: -5rem; 
  margin-top: 40%; 
  margin-left: 1%;
}

@media (min-width:650px) {

  .header-box {
    margin-right: -5rem; 
    margin-top: 40%; 
    margin-left: 30%;
  }

  .logo {
    width: 80%; /* Logo size in mobile menu */
    margin-bottom: 2rem;
  }

  .mobile-menu {
    width: 440px; /* Width of the menu */
    padding: 2rem;
  }

}