/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base { a { @apply no-underline; }  }

/* ----------- ADDITIONAL COMPONENTS  --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html { scroll-behavior: smooth; }


/* For regular laptops and smaller screens */
body {
    max-width: 100%; /* Allow it to expand to the full width of the screen */
    background-color: #FFFDFF; 
    color:  #033357; 
    font-family: "Source Sans 3", sans-serif;
}

/* For larger screens like flatscreen TVs */
@media screen and (min-width: 1600px) {
    .max-width {
        max-width: 1600px; /* Set a specific max-width for larger screens */
        margin: 0 auto; /* Center the content horizontally */
    }
}

header {
  width: 100%!important;
  top: 0;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background:  #FFFDFF; 
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
    background:  #FFFDFF; 
}

.header-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.title-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.bg-dark-blue {
  background-color: #033357; 
  color: #FFFDFF; 
}

.button {
  border-width: 2.5px;
  border-color: #033357;
  border-radius: 0.25rem;
  background-color: #033357;
  color: #FFFDFF; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.button-block:hover {
  border-color: #033357;
  background-color: inherit;
  color:#033357;
}





/* Aspect Ratio  */
.gallery-portrait-tall { padding-bottom: 175%; }
.gallery-portrait { padding-bottom: 125%; }
.gallery-square { padding-bottom: 100%; }
.gallery-landscape { padding-bottom: 66%; }
.gallery-landscape-wide { padding-bottom: 56%; }

/* Background Position */
.g-bg-pos-t { background-position: top; }
.g-bg-pos-b { background-position: bottom; }
.g-bg-pos-l { background-position: left; }
.g-bg-pos-r { background-position: right; }

