/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base { a { @apply no-underline; }  }

/* ----------- ADDITIONAL COMPONENTS  --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html { scroll-behavior: smooth; }


/* For regular laptops and smaller screens */
body {
    max-width: 100%; /* Allow it to expand to the full width of the screen */
    background-color: #FFFDFF; 
    color:  #033357; 
    font-family: "Source Sans 3", sans-serif;
}

/* Ensure max-width and centering for larger screens */
@media screen and (min-width: 1600px) {
  .max-width {
    max-width: 1600px; /* Limit max-width to 1600px */
    margin: 0 auto; /* Center the container horizontally */
  }
}

/* Fixed header styles */
header {
  width: 100% !important; /* Full width for the header */
  position: fixed;
  top: 0;
  z-index: 50;
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    background:  #FFFDFF; 
}

.header-bg {
  background-color: #FFFDFF; 
}

.header-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.title-font {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.bg-dark-blue {
  background-color: #033357; 
  color: #FFFDFF; 
}

.bg-grey {
  background-color: #F3F1EF; 
  color:#033357; ; 
}

.text-dark-blue {
  color: #033357;
}

.text-dark-blue:hover {
  color: #033357;
  text-decoration: underline;
}

.contact-dark-blue {
  color: #033357;
  text-decoration: underline;
}

.button {
  border-width: 2.5px;
  border-color: #033357;
  border-radius: 0.25rem;
  background-color: #033357;
  color: #FFFDFF; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.button-block:hover {
  border-color: #033357;
  background-color: inherit;
  color:#033357;
}

.grow { 
  transition: transform .2s ease-in-out; 
  display: inline-block;
}

.grow:hover { 
  transform: scale(1.1); 
}



/* Container with Scrollbar */
.overflow-x-auto {
  scrollbar-color: #033357 #FFFDFF; /* Scroll thumb and track color */
  scrollbar-width: thin; /* Thinner scrollbar for Firefox */
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px; /* Scrollbar height */
}

.overflow-x-auto::-webkit-scrollbar-track {
  background-color: #FFFDFF; /* Track color */
  border-radius: 10px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #033357; /* Thumb color */
  border-radius: 10px;
  border: 2px solid #FFFDFF; /* Optional border around the thumb */
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: #4A4A4A; /* Change thumb color on hover */
}


/* Aspect Ratio  */
.gallery-portrait-tall { padding-bottom: 175%; }
.gallery-portrait { padding-bottom: 125%; }
.gallery-square { padding-bottom: 100%; }
.gallery-landscape { padding-bottom: 66%; }
.gallery-landscape-wide { padding-bottom: 56%; }

/* Background Position */
.g-bg-pos-t { background-position: top; }
.g-bg-pos-b { background-position: bottom; }
.g-bg-pos-l { background-position: left; }
.g-bg-pos-r { background-position: right; }


.hamburger-wrapper {
  cursor: pointer;
  display: inline-block;
  top: 1rem; /* Adjust as needed */
  right: 1rem; /* Adjust as needed */
  z-index: 1000;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
}

.hamburger-menu span {
  background-color: #033357;
  height: 4px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu {
  display: fixed;
  background-color: #033357; /* Dark blue background */
  color: #FFFDFF; /* Light text color */
  padding: 1rem;
  position: fixed;
  top: 0;
  right: -500px; /* Initially hidden off-screen */
  width: 300px; /* Width of the menu */
  height: 100vh;
  text-align: left;
  overflow-y: auto;
  z-index: 50;
  transition: right 0.3s ease; /* Slide effect */
  border-left: 4px solid #D2AE39; /* Yellow left border */
}

.mobile-menu.active {
  right: -24px; 
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu a {
  text-decoration: none; 
  color: #FFFDFF; /* Light text color */
  /* padding: 1rem; */
  display: block;
  font-weight: normal;
  font-size: 1.5rem;
}

.submenu {
  margin-top: 0.5rem;
  /* padding-left: 1.5rem;  Indent submenus */
  border-left: 2px solid #D2AE39; 
  margin-left: 5%;
}

.submenu a {
  font-size: 1.1rem; /* Slightly smaller for subpages */
}

.logo {
  width: 70%; /* Logo size in mobile menu */
  margin-bottom: 2rem;
}

.close-button {
  background: none;
  border: none;
  color: #FFFDFF; /* Light text color */
  font-size: 2rem; /* Size of the close icon */
  position: absolute; /* Position it in the top-right corner */
  top: 1rem; /* Adjust as needed */
  right: 1rem; /* Adjust as needed */
  cursor: pointer;
}


footer {
  background-color: #033357; /* Dark blue */
  color: #FFFDFF; /* Light text color */
}

.footer-logo img {
  width: 100%; /* Responsive logo */
  max-width: 200px; /* Set a max width */
}

.footer-link {
  display: block; /* Ensure each link is a block element */
  color: #FFFDFF; /* Light text color */
  text-decoration: none;
  padding: 0.5rem 0; /* Adjusted padding for cleaner look */
  transition: color 0.3s;
}

.footer-link:hover {
  color: #D2AE39; /* Gold hover effect */
}

.submenu {
  padding-left: 1.25rem; /* Adjusted indent for better visibility */
  margin-top: 0.25rem; /* Space above submenu items */
}

.text-gray-300 {
  color: #B0BEC5; /* Light gray for footer text */
  margin-top: 1rem;
}

/*Scroll to top button */ 



.myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: max(55px, calc(50vw - 738px));
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color:  #D2AE39; 
  color: #033357; 
  cursor: pointer; 
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  font-size: 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}


.myBtn:hover {
  color:#D2AE39;
  background-color: #033357; 
}


.header-box {
  margin-right: -5rem; 
  margin-top: 40%; 
  margin-left: 1%;
}

.header-margin{
  margin-top: 30%;
}

.timeline-margin {
  margin-right: -20%;
}


@media (min-width:400px) {
  .header-margin{
    margin-top: 25%;
  }

  .timeline-margin {
    margin-right: 0;
  }
  
}


@media (min-width:500px) {
  .header-margin{
    margin-top: 20%;
  }
  
}


@media (min-width:640px) {

  .header-box {
    margin-right: -5rem; 
    margin-top: 40%; 
    margin-left: 30%;
  }

  .logo {
    width: 80%; /* Logo size in mobile menu */
    margin-bottom: 2rem;
  }

  .mobile-menu {
    width: 440px; /* Width of the menu */
    padding: 2rem;
  }

  .header-margin{
    margin-top: 15%;
  }

}

@media (min-width:1024px) {
  .header-margin{
    margin-top: 12%;
  }
  
}

@media (min-width:1536px) {
  .header-margin{
    margin-top: 9%;
  }
  
}

