<footer class="bg-dark-blue py-6">
    <div class="max-w-screen-2xl mx-auto px-4">
        <div class="grid grid-cols-3 gap-6">
            <!-- Column for the Logo -->
            <div class="footer-logo mb-4 md:mb-0 flex justify-start">
                <a href="/index.html" aria-label="Go to homepage">
                    <img src="/images/logo-white-aj-hackett-international.png" alt="Logo of AJ Hackett International" class="w-48">
                </a>
            </div>

            <!-- First Column for Links -->
            <div class="flex flex-col">
                <nav>
                    <a href="#" class="footer-link">AJ Hackett</a>
                    <div class="submenu">
                        <a href="#" class="footer-link">Meet AJ Hackett</a>
                        <a href="#" class="footer-link">Timeline</a>
                    </div>
                    <a href="#" class="footer-link">Our Brands</a>
                    <div class="submenu">
                        <a href="#" class="footer-link">Skypark by AJ Hackett</a>
                        <a href="#" class="footer-link">Pondok Santi Estate</a>
                    </div>
                    <a href="#" class="footer-link">Our Experiences</a>
                </nav>
            </div>

            <!-- Second Column for Links -->
            <div class="flex flex-col">
                <nav>
                    <a href="#" class="footer-link">Projects</a>
                    <a href="#" class="footer-link">Sustainability</a>
                    <div class="submenu">
                        <a href="#" class="footer-link">Accessibility</a>
                        <a href="#" class="footer-link">Reconciliation</a>
                        <a href="#" class="footer-link">Community</a>
                    </div>
                    <a href="#" class="footer-link">Get to Know Us</a>
                    <div class="submenu">
                        <a href="#" class="footer-link">Meet Our Team</a>
                        <a href="#" class="footer-link">Our Purpose</a>
                        <a href="#" class="footer-link">Our Promise</a>
                        <a href="#" class="footer-link">Our Values</a>
                    </div>
                    <a href="#" class="footer-link">Safety Management</a>
                    <a href="#" class="footer-link">Contact Us</a>
                </nav>
            </div>
        </div>

        <!-- Centered Text for Copyright and Links -->
        <div class="mt-4 text-center text-gray-300">
            <p>&copy; 2024 AJ Hackett International. All rights reserved.</p>
            <p>Privacy Policy | Terms and Conditions</p>
            <a href="https://refinedislandcreations.com/" target="_blank" rel="noopener noreferrer" aria-label="Link to Refined Island Creations website design and development">Designed and built by <span class="underline">Refined Island Creations</span>.</a>
        </div>
    </div>
</footer>

