
<!-- Header Section with Logo and Navigation -->
<section class="max-w-screen-2xl mx-auto flex justify-between items-center fixed z-50 top-0 left-0 right-0 header-bg">
    <div class="flex items-center justify-between w-full header-logo-position px-5 py-2">
        <!-- Logo -->
        <a href="/index.html" aria-label="Go to homepage" class="z-30">
            <img src="/images/logo-aj-hackett-international.png" alt="Logo of AJ Hackett International" class="w-44 sm:w-48">
        </a>

        <!-- Hamburger Menu for Small Screens -->
        <div class="text-right relative block">
            <div class="hamburger-wrapper">
                <div class="hamburger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <!-- Normal Navigation for Large Screens -->
        <!-- Normal Navigation for Large Screens -->
<nav class="normal-nav items-center lg:space-x-3">
    <div class="relative group">
        <a href="/meet-the-team.html" class="nav-item flex items-center">
            Our Team 
            <span class="ml-1">&#x25BC;</span> <!-- Downward Arrow -->
        </a>
        <!-- Dropdown Menu -->
        <div class="absolute left-0 hidden group-hover:flex flex-col bg-white shadow-md mt-2 rounded-md">
            <a href="/meet-aj-hackett.html" class="block px-4 py-2 hover:bg-gray-200">Meet AJ Hackett</a>
            <a href="/timeline.html" class="block px-4 py-2 hover:bg-gray-200">Timeline</a>
            <a href="/purpose-promise-values.html" class="block px-4 py-2 hover:bg-gray-200">Our Purpose, Promise, and Values</a>
        </div>
    </div>
    <div class="relative group">
        <a href="/skypark-aj-hackett.html" class="nav-item flex items-center">
            Our Brands 
            <span class="ml-1">&#x25BC;</span> <!-- Downward Arrow -->
        </a>
        <div class="absolute left-0 hidden group-hover:flex flex-col bg-white shadow-md mt-2 rounded-md">
            <a href="/skypark-aj-hackett.html" class="block px-4 py-2 hover:bg-gray-200">Skypark by AJ Hackett</a>
            <a href="/pondok-santi-estate.html" class="block px-4 py-2 hover:bg-gray-200">Pondok Santi Estate</a>
            <a href="/experiences-aj-hackett.html" class="block px-4 py-2 hover:bg-gray-200">Our Experiences</a>
        </div>
    </div>
    <a href="/projects.html" class="nav-item">Projects</a>
    <div class="relative group">
        <a href="/sustainability.html" class="nav-item flex items-center">
            Sustainability 
            <span class="ml-1">&#x25BC;</span> <!-- Downward Arrow -->
        </a>
        <div class="absolute left-0 hidden group-hover:flex flex-col bg-white shadow-md mt-2 rounded-md">
            <a href="/accessibility.html" class="block px-4 py-2 hover:bg-gray-200">Accessibility</a>
            <a href="/reconciliation.html" class="block px-4 py-2 hover:bg-gray-200">Reconciliation</a>
            <a href="/community.html" class="block px-4 py-2 hover:bg-gray-200">Community</a>
        </div>
    </div>
    <a href="/safety-management.html" class="nav-item">Safety</a>
    <a href="/contact.html" class="nav-item">Contact Us</a>
</nav>


    </div>
</section>

<!-- Mobile Menu -->
<div class="mobile-menu block">
    <div class="mobile-menu-content">
        <a href="/index.html" aria-label="Go to homepage">
            <img src="/images/logo-white-aj-hackett-international.png" alt="Logo of AJ Hackett International" class="logo">
        </a>
        <button class="close-button" aria-label="Close menu">&times;</button>
        <nav>
            <!-- Mobile Menu Links -->
            <a href="/meet-aj-hackett.html">Meet AJ Hackett</a>
            <div class="submenu">
                <a href="/timeline.html" class="pl-5p">Timeline</a>
            </div>
            <a href="/skypark-aj-hackett.html" class="pt-5p">Our Brands</a>
            <div class="submenu">
                <a href="/skypark-aj-hackett.html" class="pl-5p pb-2p -mr-15p">Skypark by AJ Hackett</a>
                <a href="/pondok-santi-estate.html" class="pl-5p -mr-10p">Pondok Santi Estate</a>
            </div>
            <a href="/experiences-aj-hackett.html" class="pt-5p">Our Experiences</a>
            <a href="/projects.html" class="pt-5p">Projects</a>
            <a href="/sustainability.html" class="pt-5p">Sustainability</a>
            <div class="submenu">
                <a href="/accessibility.html" class="pt-5p">Accessibility</a>
                <a href="/reconciliation.html" class="pt-5p">Reconciliation</a>
                <a href="/community.html" class="pt-5p">Community</a>
            </div>
            <a href="/meet-the-team.html" class="pt-5p">Meet Our Team</a>
            <div class="submenu">
                <a href="/purpose-promise-values.html" class="pl-5p pb-2p">Our Purpose, Promise, and Values</a>
            </div>
            <a href="/safety-management.html" class="pt-5p">Safety Management</a>
            <a href="/contact.html" class="pt-5p">Contact Us</a>
        </nav>
    </div>
</div>

<section class="header-margin max-width mx-auto"> 
    {% for item in page.header %}
    <div class="bg-cover bg-no-repeat rounded-3xl relative mx-5p header-image-height" 
     style="background-image: url('{{ item.image }}'); background-position: {{ item.position }};"
     alt="{{ item.label | default: item.title }}">
        <div class="flex flex-col justify-end xl:justify-start h-full p-5">
            <div class="bg-dark-blue-transparent p-5 relative header-box">
                <div style="margin-right: 10%;">
                    <h1 class="header-font text-2xl sm:text-4xl md:text-5xl lg:text-6xl pb-2p">{{ item.title }}</h1>
                    <p class="text-lg sm:text-xl italic">{{ item.text }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


<!---------

<section class="max-w-screen-2xl mx-auto flex justify-between items-center fixed z-50 top-0 left-0 right-0 header-bg">
    <div class="flex items-center justify-between w-full header-logo-position px-5 py-2">
        <a href="/index.html" aria-label="Go to homepage" class="z-30">
            <img src="/images/logo-aj-hackett-international.png" alt="Logo of AJ Hackett International" class="w-44 sm:w-48">
        </a>
        
        <div class="text-right relative">
            <div class="hamburger-wrapper">
                <div class="hamburger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<div class="mobile-menu">
    <div class="mobile-menu-content">
        <a href="/index.html" aria-label="Go to homepage">
            <img src="/images/logo-white-aj-hackett-international.png" alt="Logo of AJ Hackett International" class="logo">
        </a>
        <button class="close-button" aria-label="Close menu">&times;</button>
        <nav>
            <a href="/meet-aj-hackett.html">Meet AJ Hackett</a>
            <div class="submenu">
                <a href="/timeline.html" class="pl-5p">Timeline</a>
            </div>
            <a href="#" class="pt-5p">Our Brands</a>
            <div class="submenu">
                <a href="/skypark-aj-hackett.html" class="pl-5p pb-2p -mr-15p">Skypark by AJ Hackett</a>
                <a href="/pondok-santi-estate.html" class="pl-5p -mr-10p">Pondok Santi Estate</a>
            </div>
            <a href="/experiences-aj-hackett.html" class="pt-5p">Our Experiences</a>
            <a href="/projects.html" class="pt-5p">Projects</a>
            <a href="/sustainability.html" class="pt-5p">Sustainability</a>
            <div class="submenu">
                <a href="/accessibility.html" class="pt-5p">Accessibility</a>
                <a href="/reconciliation.html" class="pt-5p">Reconciliation</a>
                <a href="/community.html" class="pt-5p">Community</a>
            </div>
            <a href="/meet-the-team.html" class="pt-5p">Meet Our Team</a>
            <div class="submenu">
                <a href="/purpose-promise-values.html#purpose" class="pl-5p pb-2p">Our Purpose, Promise, and Values</a>
            </div>
            <a href="/safety-management.html" class="pt-5p">Safety Management</a>
            <a href="/contact.html" class="pt-5p">Contact Us</a>
        </nav>
    </div>
</div>




<section class="header-margin max-width mx-auto"> 
    {% for item in page.header %}
    <div class="bg-cover bg-no-repeat rounded-3xl relative mx-5p header-image-height" 
     style="background-image: url('{{ item.image }}'); background-position: {{ item.position }};"
     alt="{{ item.label | default: item.title }}">
        <div class="flex flex-col justify-end xl:justify-start h-full p-5">
            <div class="bg-dark-blue-transparent p-5 relative header-box">
                <div style="margin-right: 10%;">
                    <h1 class="header-font text-2xl sm:text-4xl md:text-5xl lg:text-6xl pb-2p">{{ item.title }}</h1>
                    <p class="text-lg sm:text-xl italic">{{ item.text }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

------->